.user-name {
  margin-bottom: 2px;
  font-size: .7em;
  font-weight: 500;
  opacity: .9;
}

.user-status {
  font-size: .5em;
  opacity: .5;
}

.time {
  font-size: .95em;
  opacity: .75;
}

.price {
  font-size: 1.45em;
  font-weight: 500;
}

.title {
  margin: 8px 0 24px 0;
  font-size: 2.5em;
  font-weight: 500;
  color: $title-color;
}

.description {
  line-height: 1.8em;
  color: $paragraph-color;
  @include media(desktop) {
    display: block;
    width: 450px;
  }
}
