.icofont-curved-left {
  margin-right: 2px;
  font-weight: bold;
}

.fa-ellipsis-v {
  margin-bottom: 7.5px;
  font-size: .5em;
  opacity: .75;
}

.fa-circle {
  margin-right: 10px;
  font-size: 1.6em;
  opacity: .25;
}

.fa-chevron-right {
  font-size: .9em;
}